{% extends "base.html" %}

{% block title %}FUZZER{% endblock %}

{% block content %}
<h1 class="text-center neon-text">URL Fuzzer</h1>
<form method="post" enctype="multipart/form-data" class="mt-4 url-form">
    <div class="form-group">
        <label for="url" class="neon-text">Enter a Base URL</label>
        <input type="text" class="form-control" id="url" name="url" placeholder="Enter Base URL" required>
    </div>
    <div class="form-group">
        <label for="file" class="neon-text">Upload a Wordlist (TXT file)</label>
        <input type="file" class="form-control-file" id="file" name="file" accept=".txt" required>
    </div>
    <button type="submit" class="btn btn-primary btn-block neon-button">Fuzz</button>
</form>

{% if results %}
<h2 class="mt-5 neon-text">Fuzzing Results</h2>
<table class="table table-dark table-striped table-hover mt-3">
    <thead>
    <tr>
        <th>URL</th>
        <th>Status Code</th>
    </tr>
    </thead>
    <tbody>
    {% for url, status in results %}
    <tr>
        <td><a href="{{ url }}" target="_blank" class="text-info">{{ url }}</a></td>
        <td>{{ status }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a href="{{ url_for('download_file', filename=csv_filename) }}" class="btn btn-success btn-block mt-3 neon-button">Download CSV</a>
{% endif %}
{% endblock %}
